.container{
    display: flex;
    border:2px solid black;
    height: 300px;
    width: 100%;
}

.left{
    height: 100%;
    width: 50%;
    background-color: rgba(107, 179, 56, 0.443);
}

.right{
    height: 100%;
    width: 50%;
    background-color: rgba(45, 45, 98, 0.361);
}